src/lol.bib linguist-documentation
src/glossary.tex linguist-documentation
src/preamble.tex linguist-documentation
src/guess.tex linguist-generated
src/pudding.tex linguist-generated
src/wizard5.tex linguist-generated
src/wizard6.tex linguist-generated
src/wumpus.tex linguist-generated
docs/index.html linguist-generated
